<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Image</title>
    <style>
        .post-img-view {
            text-align: center;
        }
        .responsive-image {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>

{{- $url := urls.Parse .Destination -}}
{{- $scheme := $url.Scheme -}}

<body>
    {{ if .Page.Site.Params.fancybox }}
    <div class="post-img-view">
        <a data-fancybox="gallery" href="
        {{- if eq $scheme "" -}}
          {{- if strings.HasSuffix $url.Path ".md" -}}
            {{- relref .Page .Destination | safeURL -}}
          {{- else -}}
          {{- printf "../%s" .Destination | safeURL -}}
          {{- end -}}
        {{- else -}}
          {{- .Destination | safeURL -}}
        {{- end -}}">
            <img 
            class="responsive-image" 
            src="
            {{- if eq $scheme "" -}}
              {{- if strings.HasSuffix $url.Path ".md" -}}
                {{- relref .Page .Destination | safeURL -}}
              {{- else -}}
                {{- printf "../%s" .Destination | safeURL -}}
              {{- end -}}
            {{- else -}}
              {{- .Destination | safeURL -}}
            {{- end -}}" 
            alt="{{ .Text }}" {{ with .Title}} title="{{ . }}"{{ end }} style="margin: 0 auto;"/>
        </a>
    </div>
    {{ end }}

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var images = document.querySelectorAll(".responsive-image");
            var maxHeight = window.innerHeight;
            images.forEach(function(image) {
                image.style.maxHeight = maxHeight + "px";
            });
        });
    </script>
</body>
</html>
